body{
    display: flex;
    flex-direction: column;
    background-color: #EEF8DC;
    margin: 0;
    padding: 0;
}
.nav-cont{
    display: flex;
}
.nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
    max-height: 45px;
}
ul{
    display: flex;
    gap: 5px;
    list-style-type: none;
}
.top{
    background-image: url(images/yolande-conradie-q6U-UA6hgBo-unsplash\ \(2\).jpg);
    background-size: cover;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}
.top-desc{
    display: flex;
    flex-direction: column;
    margin-left: 2.5em;
    max-width: 35%;
}
.top-desc>h3{
    color: #090200;
    font-size: 34px;
}
.top-desc>p{
    font-size: 16px;
    color:#FFFF;
}
.top-desc>button{
    margin-top: 10%;
    margin-left: 10%;
}
button{
    background-color: #B5CA8D;
    color:black;
    border-radius: 50px;
    border-color: black;
    border-width: 2px;   
}

.examples{
    display: flex;
    background-color: #231C07;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.lion{
    transform: rotate(14deg);
}
.lion>img{
    box-shadow: 2rem #B5CA8D;
}
.girraffe{
    transform: rotate(-11.66deg);
}
.examples>div img{
    max-width: 40%;
    padding: 0;
    border-radius: 20%;
}
.examples>div p{
    max-width: 50%;
    text-align: center;
} 
.destinations{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
}
.destinations>div img{
    max-width: 50%;
    height:auto;
}
.experience-cont{
    background-color: #231C07;
}
.experiences{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.experiences>div{
    max-width: 25%;
    color:#EEF8DC;
    padding: 2rem;
    box-shadow:2px 2px 2px 2px #B5CA8D;
    border-radius: 30%;
    margin: 2rem 0;
}
.experiences>div img{
    max-width: 60%;
}
.call{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}
footer{
    background-color: #231C07;
    color:#EEF8DC;
    width: 100%;
    display: flex;
    justify-content: center;
}